@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 16px;
    padding-bottom: 16px;
    background: #FFF7F0;
    overflow-x: hidden;
}

.body_top{
    padding-left: 16px;
    padding-right: 16px;
}

.logo_freeconsultation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 48px;
    width: 48px;
}

.freeConsultation{
    background: #030303;
    color: #FFF7F0;
    border-radius: 28px;
    border: 0;
    height: 44px;
    width: 176px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
}



.title_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 34px;
}

.title{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #030303;
    width: 288px;
}

.info{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7A746E;
    margin-top: 16px;
    width: 269px;
}

.blue_container{
    display: flex;
    flex-direction: column;
    height: 364px;
    width: 100%;
    background: #755CDE;
    border-radius: 8px;
    margin-top: 32px;
    padding: 24px;
    align-items: flex-end;
}

.graphic_design{
    display: flex;
    height: 192px;
    width: 128px; 
}

.graphic_design_text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF; 
    align-self: flex-start;
    margin-top: 94px;
}

.ui_ux_apps{
    display: flex;
    margin-top: 24px;
    gap: 25px;
}


.ui_ux{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    background: #F6A560;
    border-radius: 8px;
    width: 100%;
    height: 182px;
}

.ui_ux_pattern{
    height: 64px;
    width: 64px;
}

.apps{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 24px;
    background: #F39E9E;
    border-radius: 8px;
    width: 100%;
    height: 182px;
}

.ui_ux_text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF; 
    align-self: flex-start;
    margin-top: 40px;
}

.apps_pattern{
    height: 64px;
    width: 64px;
}

.apps_text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF; 
    align-self: flex-start;
    margin-top: 40px;
}

.illustrations{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 158px;
    width: 100%;
    background: #EB7565;
    border-radius: 8px;
    margin-top: 24px;
    padding: 24px;
}

.illustration_text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF; 
    align-self: flex-start;
    margin-top: 16px;
}

                                            /* LOOK ON THIS */
                                            /* LOOK ON THIS */
                                            /* LOOK ON THIS */
.photography {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 182px;
    /* width: 752px; */
    background: #61C4B7;
    border-radius: 8px;
    padding: 24px;
    margin-top: 24px;
    width: 100%;
}
                                            /* LOOK ON THIS */
                                            /* LOOK ON THIS */
                                            /* LOOK ON THIS */


.photography_text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF; 
    align-self: flex-start;
    margin-top: 40px;
}

.motion_graphics{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 182px;
    width: 100%;
    border-radius: 8px;
    background: #552049;
    border-radius: 8px;
    padding: 24px;
    margin-top: 24px;
}

.motion_graphics_text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    align-self: flex-start;
    margin-top: 40px;
}

.woman_pattern{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.pretty_woman{
    height: 300px;
    width: 300px;
    border-radius: 0px;    
}

.I_am_Ammy{
    display: flex;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #030303;
    margin-top: 40px;
}

.I_am_Ammy_text{
    display: flex;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7A746E;
    margin-top: 24px;
}

.bottom_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.free_consultation_button{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #FFF7F0;
    background: #EB7565;
    border-radius: 28px;
    border: 0;    
    height: 56px;
    width: 228px;
    margin-top: 24px;
    align-self: center;
}

.my_work_title_slide{
    overflow-x: hidden;
}




.my_work_title{
    display: flex;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #030303;
    margin-top: 100px;
}

.slides{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 32px;
}

.slide_one,
.slide_two,
.slide_three,
.slide_four,
.slide_five{
    background: #D8D8D8;
    border-radius: 10px;
    height: 180px;
    width: 270px;  
}

.arrows_phone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 16px;
    margin-top: 32px;
}

.right_box_phone{
    display: flex;
    height: 64px;
    width: 64px;
    background-color: #030303;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.left_box_phone{
    display: flex;
    height: 64px;
    width: 64px;
    background-color: #030303;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.black_box{
    background: #030303;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 17px;
}



.book_call{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #FFF7F0;
    margin-top: 49px;
}

.book_call_text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFF7F0;
    margin-top: 24px;
}

.book_call_text_container{
    display: flex;
    flex-direction: column;
}



.logo_freeconsultation_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.arrows_tablet,
.arrows_desktop{
    display: none;
}





































@media only screen and (min-width: 768px){
    body {
        padding-top: 39px;
        padding-bottom: 16px;
        background: #FFF7F0;
        overflow-x: hidden;
    }
    .body_top{
        padding-left: 39px;
        padding-right: 39px;
    }

    .logo{
        height: 64px;
        width: 64px;
    }

    .title {
        width: 485px;
    }

    .info {
        width: 533px;
    }

    .containers_wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .blue_container {
        display: flex;
        flex-direction: column;
        height: 364px;
        width: 100%;
        background: #755CDE;
        border-radius: 8px;
        margin-top: 32px;
        padding: 24px;
        align-items: flex-end;
    }

    
    .ui_ux_apps{
        gap: 24px;
    }

    .photography_motion_graphics_wrap {
        display: flex;
        width: 100%;
        gap: 24px;
    }

    .ui_ux_apps_illustrations_wrap{
        margin-top: 8px;
        width: 100%;
    }

    .photography,
    .motion_graphics{
        margin: 0;
    }



    .blue_ui_ux_apps_illustrations{
        display: flex;
        width: 100%;
        gap: 24px;
    }

    .title_text_button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pattern_title_text_button {
        display: flex;
        align-items: center;
        height: 364px;
        margin-top: 120px;
        justify-content: space-between;
    }

    .woman_pattern {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-left: -52px;
        margin-right: 59px;
    }

    .I_am_Ammy{
        margin-top: 0;
        text-align: left;
        width: 261px;
    }

    .I_am_Ammy_text{
        width: 306px;
    }
    
    .book_call_text {
        width: 558px;
        font-size: 18px;
        line-height: 28px;
    }
    .book_call {
        font-size: 32px;
        line-height: 40px;
    }

    .black_box {
        margin-top: 120px;
        align-items: center;
        margin-left: 39px;
        margin-right: 39px;
    }

    .logo_freeconsultation_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 56px;
        margin-bottom: 40px;
        margin-left: 39px;
        margin-right: 40px;
    }

    

    .arrows_tablet{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 16px;
        margin-top: 56px;
    }
    .right_box_tablet{
        display: flex;
        height: 64px;
        width: 64px;
        background-color: #030303;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    .left_box_tablet{
        display: flex;
        height: 64px;
        width: 64px;
        background-color: #030303;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    .slide_one,
    .slide_two,
    .slide_three,
    .slide_four,
    .slide_five{
        background: #D8D8D8;
        border-radius: 10px;
        height: 360px;
        width: 540px;
    }

    .slides{
        gap: 30px;
        margin-top: 56px;
        width: unset;
    }

    .my_work_title{
        font-size: 32px;
        line-height: 40px;
    }

    .book_call_text_container {
        display: flex;
        flex-direction: column;
        width: 761px;
        align-items: center;
    }

    .freeConsultation{
        height: 56px;
        width: 228px;
    }

    .pretty_woman{
        height: 364px;
        width: 364px;
    }

    .woman_pattern {
        margin-right: 0;
    }
    .arrows_desktop,
    .arrows_phone{
        display: none;
    }

    
}























@media only screen and (min-width: 1440px){
    body {
        padding-top: 34px;
        padding-bottom: 64px;
        overflow-x: hidden;
    }

    .body_top{
        padding-left: 165px;
        padding-right: 165px;
    }

    .info {
        width: 650px;
    }

    .containers_wrap {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        margin-top: 56px;
    }

    .photography_motion_graphics_wrap {
        flex-direction: column;
        margin-top: 32px;
    }

    .motion_graphics{
        height: 158px;
    }

    .motion_graphics_text{
        margin-top: 16px;
    }

    .photography_motion_graphics_wrap {
        width: 48.4%;
    }

    .title{
        font-size: 56px;
        line-height: 71px;
        width: 751px;
    }


    .I_am_Ammy{
        font-size: 40px;
        line-height: 50px;
        width: 496px;     
    }

    .I_am_Ammy_text {
        width: 468px;
    }

    .pattern_title_text_button {
        justify-content: center;
        gap: 125px;
    }

    .pretty_woman{
        height: 445px;
        width: 445px;
        border-radius: 0px;    
    }

    .my_work_title {
        font-size: 32px;
        line-height: 40px;
    }

    .slides{
        gap: 30px;
        margin-top: 56px;
        margin-left: unset;
        width: 210px;
    }

    .my_work_title_slide {
        overflow-x: visible;
    }

    .pattern_title_text_button {
        height: 445px;
    }

    .black_box{
        padding-left: 65px;
        padding-right: 95px;
        padding-bottom: 48px;
        margin-top: 88px;
        margin-left: 165px;
        margin-right: 165px;
        align-items: flex-start;
        background: #030303;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .book_call_text {
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        width: 532px;
    }

    .book_call_text_container {
        display: flex;
        flex-direction: column;
        width: 609px;
        align-items: flex-start;
    }
    



    .free_consultation_button {
        margin-top: 0;
        height: 56px;
        width: 228px;
    }

    .free_consultation_button:hover {
        background: #F6A560;
        cursor: pointer;
    }

    .freeConsultation{
        height: 56px;
        width: 228px;
    }

    .freeConsultation:hover {
        background: #755CDE;
        cursor: pointer;
    }

    .bottom_button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 110.5px;
    }

    .logo_freeconsultation_bottom {
        margin-left: 165px;
        margin-right: 165px;
    }

    .left_box:hover {
        background: #755CDE;
        cursor: pointer;
    }

    .right_box:hover {
        background: #755CDE;
        cursor: pointer;
    }

    .arrows_desktop{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 16px;
        margin-top: 32px;
    }

    .right_box_desktop{
        display: flex;
        height: 64px;
        width: 64px;
        background-color: #030303;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    .left_box_desktop{
        display: flex;
        height: 64px;
        width: 64px;
        background-color: #030303;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }

    .arrows_tablet,
    .arrows_phone{
        display: none;
    }

}